.map {
    
    display: flex;
    margin-top: 5%;
    margin-left: 26%;
    margin-right: 20%;
    
  }

  .forceGrayColor button {
	border:1.5px solid  rgb(0, 89, 255);
    color: rgb(0, 89, 255)!important;
}

.show {
    display: inline
}

.hide {
    display: none
}

li {
    list-style: none
}

.countdown {
    margin-top: 25px;
}

.instruct {

    color: white;
}

.link {

    color: white;
    width: 150px;
    text-decoration: none;
    border: 1px solid white;
    display: flex; 
    text-align: center;
    
}

.countdown {
    margin-top: 25px;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    background: #121212;
    background: rgba(0,0,0,.7);
        opacity: .7;
}

.QuestionAndAnswers  {
    background: #112 url(//images.weserv.nl/?url=i.imgur.com/6QJjYMe.jpg)  no-repeat center center fixed;
    background-size:cover;
    margin:0
}


#mis-title {
    justify-content: space-between;
    padding: 15px 15px;
}

#mistakes {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  background: #121212;
}

.mistake {
    font-weight: 400;
    font-size: .8rem;
}

.list {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 14px 15px 5px;
        color: #fff;
        transition: all .3s ease-in-out;
}

.list:hover {
    background: rgba(0,0,0,.7);
    opacity: .7;
  }

  .repeat-button {
    margin-left: 30px;
}

.title {

    text-align: center;
}